<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>Servlet.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletarRegistroServlet</servlet-name>
        <servlet-class>Servlet.CompletarRegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionServlet</servlet-name>
        <servlet-class>Servlet.InicioSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerProductosCliente</servlet-name>
        <servlet-class>Servlet.ObtenerProductosCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <servlet-class>Servlet.AgregarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioServlet</servlet-name>
        <servlet-class>Servlet.InventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarCompraServlet</servlet-name>
        <servlet-class>Servlet.RealizarCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudServlet</servlet-name>
        <servlet-class>Servlet.SolicitudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarSolicitudProveedorServlet</servlet-name>
        <servlet-class>Servlet.EnviarSolicitudProveedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarRespuestaProveedorServlet</servlet-name>
        <servlet-class>Servlet.ProcesarRespuestaProveedorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletarRegistroServlet</servlet-name>
        <url-pattern>/CompletarRegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionServlet</servlet-name>
        <url-pattern>/InicioSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerProductosCliente</servlet-name>
        <url-pattern>/ObtenerProductosCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <url-pattern>/AgregarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioServlet</servlet-name>
        <url-pattern>/InventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarCompraServlet</servlet-name>
        <url-pattern>/RealizarCompraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudServlet</servlet-name>
        <url-pattern>/SolicitudServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarSolicitudProveedorServlet</servlet-name>
        <url-pattern>/EnviarSolicitudProveedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarRespuestaProveedorServlet</servlet-name>
        <url-pattern>/ProcesarRespuestaProveedorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>Servlet.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CarritoServlet</servlet-name>
        <servlet-class>CarritoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarritoServlet</servlet-name>
        <url-pattern>/CarritoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerCarrito</servlet-name>
        <servlet-class>Servlet.VerCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerCarrito</servlet-name>
        <url-pattern>/VerCarrito</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditarProductoServlet</servlet-name>
        <servlet-class>Servlet.EditarProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarProductoServlet</servlet-name>
        <url-pattern>/EditarProductoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
