@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primario: #ffd155;
    --color-secundario: #fff;
    --color-terciario: #ce5d00;
    --color-oscuro: #585d63;
}


/*Input Buscador*/
/* Estilo para el input de buscador */
#inputbuscar {
    width: 300px; /* Ancho del input */
    padding: 10px; /* Espaciado interno */
    border: 2px solid #ddd; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    background-color: #fff; /* Color de fondo */
    transition: border-color 0.3s ease; /* Transición suave del borde */
}

/* Estilo para cuando el input está enfocado */
#inputbuscar:focus {
    border-color: #f0c419; /* Cambio de color del borde al enfocar */
    outline: none; /* Quita el borde de enfoque predeterminado */
}

.buscador{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador i{
    margin-right: 20px;
    font-size: 20px;
}


.burbuja {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.493);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: burbujeo linear infinite;
    -webkit-animation: burbujeo linear infinite;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: 100;
}

@keyframes burbujeo {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-200px);
    }
}

body {
    overflow-x: hidden;
}

/* Estilos para el encabezado */

.hrd1{
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 12vh;
}

.hdr {
    position:static;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 3%;
    padding-right: 2%;
    transition: 0.2s;
    margin-top: 2%;
    transition: 0.2s;
}

.hdr_scroll {
    margin-top: 0%;
    transition: 0.2s;
}

#index_hdr .logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5%;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    width: 20%;
}

.logo {
    width: auto;
    height: 100%;
}

.company-name {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.company_name_scroll{
    color: black;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    transition: 0.2s;
}

.nav-links_scroll {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0;
    transition: 0.2s;
}

/* Estilos generales para los botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilos para el botón de fondo claro */
.button-light {
    color: #333;
    /* Color del texto */
    background-color: #f8f9fa;
    /* Color de fondo claro */
    border: 1px solid #ced4da;
    /* Borde */
}

/* Estilos para el botón de fondo oscuro */
.button-dark {
    color: #fff;
    /* Color del texto */
    background-color: black;
    /* Color de fondo oscuro */
    border: 5px solid #343a40;
    /* Borde */
}

/* Estilos cuando se pasa el ratón sobre el botón */
.button:hover {
    background-color: #e9ecef;
    /* Cambio de color de fondo al pasar el ratón */
}

/* Estilos para el ícono dentro del botón */
.button i {
    margin-right: 5px;
    /* Espacio entre el ícono y el texto */
}

/*SECCION CARRUSEL*/

.carousel-inner{
    border-bottom: 15px solid white;
}

.carousel-inner img{
    filter: brightness(80%);
}

.sectionCarrousel {
    height: 100%;
    position: relative;
    z-index: 1;
    border-bottom: 5px solid white;
}

/*SECCION COMENTARIO*/

.TituloSHOP {
    font-family: 'Poppins', sans-serif;
    font-size: 3.4rem;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 1px #c38e00;
}

/* Estilos para el contenedor de la sección */
.section-container {
    background-image: linear-gradient(rgba(0,0,0,0.8) 5%, rgba(0,0,0,0)), url("../assets/Backgrounds/bg.jpg");
    padding: 3%;
    padding-bottom: 3%;
    padding-top: 7%;
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 93.5vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    gap: 2%;
}

.Comentario {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    position: relative;
}

/* Estilos para el texto descriptivo */
.desc_neg {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    padding: 1%;
    border-radius: 15px;
    width: 70%;
    display: flex;
    text-align: justify;
    align-items: center;
    -webkit-border-radius: 15px;
    color: white;
}

.desc_pos {
    color: #008000;
    /* Color verde */
    font-weight: bold;
    /* Texto en negrita */
}

/* Estilos para la imagen */
.section-container img {
    max-width: 40%;
    /* Ancho máximo de la imagen */
}

/*Estilos Para la barra de marcas*/
.sectionMarcas {
    height: 50px;
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-bottom: 0.5%;
}

.marcas1 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.marcas1 li {
    margin-right: 10px;

}

.marcas1 i {
    color: black;
    font-size: 2rem;
}

.marcas1 li:last-child {
    margin-right: 0;
}

.footer {
    background-color: #a76c11;
    color: #fff;
    padding-top: 30px;
    height: 35vh;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 30px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    background-color: black;
    text-align: center;
    padding: 10px 0;
    color: white;
}

/* Estilos para hacer el footer responsive */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 30px;
    }
}

/* Estilos para hacer el header responsive */
@media screen and (max-width: 768px) {
    .hdr {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-link {
        margin-right: 10px;
    }
}


/*SELECCIONAR ROL*/

.TituloSHOP1 {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: black;
    text-shadow: 3px 3px 1px var(--color-primario);
}

.Roles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient( 107.7deg,  rgba(235,230,44,0.55) 8.4%, rgba(252,152,15,1) 90.3% );;
    height: 100vh;
}

.rol {
    background-color: var(--color-secundario);
    width: 25%;
    height: 45%;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    opacity: 0.6;
    transition: 0.4s;
}

.rol:hover {
    transition: 0.4s;
    transform: translateY(-30px);
    background-color: black;
    color: var(--color-secundario);
    opacity: 1;
}

.rol i {
    font-size: 8rem;
}

.rol h2 {
    font-size: 4rem;
}

.botonesNAV {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 0px 12%;
}

.botonesNAV a {
    text-align: center;
    width: 200px;
    text-decoration: none;
}

.disable {
    display: none;
}

.seleccionado {
    background-color: black;
    color: var(--color-secundario);
    border: 5px solid black;
    opacity: 1;
}

/*PAGÍNA INICIO CLIENTE*/

.panel-izquierdo {
    width: 15vw;
    height: 100vh;
    background-color: #ffff;
    position: fixed;
    top: 10%;
    left: 0;
    padding: 20px;

}

.panel-derecho {
    overflow-y: scroll;
    right: 0;
    position: absolute;
    top: 12%;
    width: 82.5vw;
    padding-top: 0;
    height: 88vh;
}

hr {
    color: var(--color-oscuro);
}

.panel-izquierdo ol {
    margin-top: 80px;
    list-style: none;
    text-decoration: none;
}

.panel-izquierdo ol li {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 30px;
    cursor: pointer;
    font-size: 1.5rem;
}

.panel-izquierdo ol li div{
    width: 50%;
    display: flex;
    text-align:left;
}

.panel-izquierdo ol li:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-terciario);
}


/*PANEL DERECHO*/

.CarrouselSecundario {
    height: 350px;
    overflow: hidden;
}

.panel-derecho {
    border-left: 5px solid white;
}

.TituloSHOP2 {
    margin-top: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(206, 93, 0);
    text-shadow: 3px 3px 1px rgb(206, 192, 0);
}

/*PRODUCTOS DISPLAY*/

.ProductosDisplay {
    min-height: 100vh;
    max-height: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
    background-color: var(--color-primario);
}

.productCard1 {
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    width: 28%;
    height: 320px;
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s;
    box-shadow: 4px 6px 0px rgba(0,0,0,0.2);
}

.productCard1:hover {
    transform: translateY(-10px);
}

.productCard1 img {

    max-width: 50%;
    border-radius: 10px;
    max-height: 150px;
    transition: all 0.4s;
}

.productCard1 img:hover {
    filter: opacity(0.8);
}

.productCard1 h3 {
    margin-top: 9px;
}

.productCard1 p {
    font-size: 1.5rem;
}


/*COMPRAR PRODUCTO*/

.productCard2 {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.imgProduct {
    width: 40%;
}

.imgProduct img {
    width: 100%;
    transition: all 0.4s;
}

.imgProduct img:hover {
    filter: opacity(0.8);
}

.datosProducto {
    width: 30%;
    display: flex;
    flex-direction: column;
    min-height: max-content;
    max-height: 100vh;
}

.DatosCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.DatosCompra h3 {
    margin-top: 20px;
}

.DatosCompra h4 {
    margin-top: 20px;
}

.DatosCompra button {
    margin-top: 20px;
}

.descripcionPRODUCTO {
    margin-top: 20px;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-contenido {
    border-radius: 50px;
    background-color: #fefefe;
    margin:5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.modal-contenido h2 {
    text-align: center;
}

.modal-contenido form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productoDetalles {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.productoDetalles img {
    max-width: 30%;
}

.productoDetalles input {
    text-align: center;
}

.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 95%;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*INVENTARIO*/

.productCard3 {
    z-index: 10;
    background-color: #fff;
    border: dotted var(--color-oscuro);
    border-radius: 10px;
    cursor: pointer;
    width: 15%;
    max-height: 300px;
    min-height: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.4s;
}

.productCard3:hover {
    transform: translateY(-10px);
}

.productCard3 img {

    max-width: 100%;
    max-height: 300px;
    transition: all 0.4s;
}

.productCard3 img:hover {
    filter: opacity(0.8);
}

.productCard3 h3 {
    margin-top: 9px;
}

.productCard3 p {
    font-size: 1.5rem;
}

/*AGREGAR PRODUCTO*/

.AgregarProducto{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    background-color: var(--color-primario);

}

.imgPRODUCTO{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen {
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    outline: none; /* Quita el contorno al enfocar */
}

/* Cambio de estilo al pasar el mouse */
.imagen:hover {
    background-color: #e0e0e0;
}

/* Cambio de estilo al hacer clic */
.imagen:active {
    background-color: #d0d0d0;
}

.imagen-preview {
    width: 80%;
    height: 100%;

    border: 2px dashed var(--color-oscuro);
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px auto;
}

.imagen-preview img {
    z-index: 10;
    max-width: 100%;
    max-height: 100%;
}

.texto-preview {
    font-size: 2rem;
    position: absolute;
    color: var(--color-oscuro);
}

.input-file {
    display: none;
}

/*DATOS DEL PRODUCTO*/

.formularioProducto{
    z-index: 10;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

.formularioProducto label{
    font-size: 2rem;
}

.formularioProducto input{
    text-align: left;
    width: 50%;
}

.formularioProducto textarea{
    width: 50%;
    resize: none;
}

.formularioProducto select{
    width: 50%;
}

/*
    DashBoard
*/

.DashboardSec{

    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.SeccionDashboard{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;


    margin-top: 50px;

}

.apartadoDash{
    width: 45%;
    height:500px;
    background-color: var(--color-secundario);
}

apartadoDash2{
    width: 90%;
    background-color: var(--color-secundario);
    height:500px;
}

.TablaDash h2{
    width: 100%;
}

.TablaDash{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 500px; /* Altura máxima del div */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}

.tabla-container {
    width: 100%;
    overflow-x: auto; /* Habilita la barra de desplazamiento horizontal si es necesario */
}

#ultimas-compras-table {
    text-align: center;
    text-justify: auto;
    width: 100%;
    border-collapse: collapse;
}

#ultimas-compras-table th,
#ultimas-compras-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

#ultimas-compras-table th {
    background-color: #f2f2f2;
}

#alerts-container{
    min-height: 0%;
    max-height: 100vh;
    overflow-y:auto ;
}

.alerts-fixed {
    width: 25%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.alert {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}

.alert.fade-out {
    opacity: 0; /* Reducimos la opacidad para que la alerta se desvanezca */
}
.alert img {
    max-width: 100px;
    max-height: 150px;
    margin-right: 10px;
}
.alert-info {
    color:#333;
    background: linear-gradient(to bottom, #f5f5cc, #e0e0e0);
}
.section_pres{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.TituloPrincipal{
    position: relative;
    z-index: 1;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: 0.2s;
    border: 2px solid var(--color-primario);
    padding: 1.5%;
    border-radius: 25px;

}
.nav-links a:hover{
    transition: 0.2s;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background: var(--color-primario);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}
.scrolled{
    background: black;
    padding-left: 2%;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}
.logo-container-scroll{
    background: white;
    color: black;
}
.bnv_es{ 
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.3rem;
}
.bnv_es span{ 
    font-weight: bold;
    font-size: 1.6rem;
}
.section-container button{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: 0.2s;
    border: 2px solid var(--color-primario);
    padding: 8px;
    border-radius: 25px;
    background: none;
}
.section-container button:hover{
    transition: 0.2s;
    background: var(--color-primario);
    color: black;
    transform: scale(1.1); 
}
.index{
    overflow: hidden;
}
.Roles div{
    cursor: pointer;
}
.Roles div:active{
    transition: 0.2s;
    transform: scale(1);
}
body{
    height: 99vh;
    width: 100%;
}
#txt{
    display: flex;
    width: 100%;
    padding: 2%;
    text-align: center;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    color: black;
}
.panel-derecho .section-container{
    padding-top: 0.5%;
}
.img_pro_card{
    width: 100%;
    height: 60%;
    background: #ffedc9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.img_log_pc{
    position: absolute;
    right: 1%;
    top: 1%;
    height: 60px;
    width: 60px;
}
.productCard1 h3{
    color: #660001;
}